body {
  background-image: url('/br.jpg'); /* Caminho da sua imagem */
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat; /* Evita repetição */
  background-attachment: fixed; /* Fixa a imagem ao rolar a página */
}


.mainav {
    
    padding-top: 2%;
    
    
}

.localization-h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #5d5d7d;
  
  
  
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  
  margin-bottom: 20px;
}







.button-L {
  width: 8%;
  border-radius: 10px;
  background: linear-gradient(45deg, #74db6b, #009687);
  border: none;
  color: #fff;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  }

  .button-L:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #66cc5e, #008a7a);
}

.button-clear {
  background: linear-gradient(45deg, #ff7675, #d63031);
}

.button-clear:hover {
  background: linear-gradient(45deg, #ff6b6b, #c0392b);
}






.localization-h1::after {
  content: "";
  display: block;
  width: 220px;
  height: 4px;
  background: linear-gradient(90deg, #9499EA, #5d5d7d);
  margin: 10px auto 0;
  border-radius: 2px;
}


.col img {
    height: 300px; /* mesma altura das imagens do Sobre Nós */
    width: 100%;
    object-fit: cover; /* mantém proporção e corta excesso */
    border-radius: 0.5rem; /* cantos arredondados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* sombra suave */
    transition: transform 0.3s ease; /* animação ao passar o mouse */
    margin-top: 70px;
}

.col img:hover {
    transform: scale(1.02); /* leve zoom ao passar o mouse */
}

.col {
    position: relative;
    margin-bottom: 30px; /* espaçamento */
}

.contentmy-5 img {

  height: 300px; /* mesma altura das imagens do Sobre Nós */
    width: 100%;
    object-fit: cover; /* mantém proporção e corta excesso */
    border-radius: 0.5rem; /* cantos arredondados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* sombra suave */
    transition: transform 0.3s ease; /* animação ao passar o mouse */
}




.col{
   
  font-family: 'Montserrat', sans-serif;
}

.text-1{

padding-top: 60px;
margin-top: 30px;

  font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  font-size: 3rem;              /* Título bem destacado */
  font-weight: 700;             /* Negrito */
  color: #2661b9;               /* Azul vibrante */
  text-transform: uppercase;    /* Letras maiúsculas */
  letter-spacing: 2px;          /* Espaçamento entre letras */
  text-shadow: 2px 2px 6px rgba(0,0,0,0.2); /* Sombra suave */
  margin-bottom: 8px;
}

.text-2{
 
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #242427;
  max-width: 700px;
  margin: 0 auto 15px auto;

  line-height: 1.8;
  border-left: 5px solid #2661b9; /* azul ou a cor da sua paleta */
  padding-left: 15px;
}

.text-03 {
padding-top: 60px;
margin-top: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  font-size: 3rem;              /* Título bem destacado */
  font-weight: 900;             /* Negrito */
  color: #2661b9;               /* Azul vibrante */
  text-transform: uppercase;    /* Letras maiúsculas */
  letter-spacing: 2px;          /* Espaçamento entre letras */
  text-shadow: 2px 2px 6px rgba(0,0,0,0.2); /* Sombra suave */
  margin-bottom: 2px;

}



.sobre-banner {
    background: linear-gradient(155deg, #ffffff, #ceefff);
    padding: 40px 20px;
    object-fit: cover; /* mantém proporção e corta excesso */
    border-radius: 0.5rem; /* cantos arredondados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* sombra suave */
    transition: transform 0.3s ease; /* animação ao passar o mouse */ 
    margin-top: 20px;
}

.sobre-banner img {
    height: 300px;
    width: 100%;
    object-fit: cover; /* mantém proporção e corta o excesso */
}


.sobre-banner h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  font-size: 3rem;              /* Título bem destacado */
  font-weight: 700;             /* Negrito */
  color: #2661b9;               /* Azul vibrante */
  text-transform: uppercase;    /* Letras maiúsculas */
  letter-spacing: 2px;          /* Espaçamento entre letras */
  text-shadow: 2px 2px 6px rgba(0,0,0,0.2); /* Sombra suave */
  margin-bottom: 8px;
}

.sobre-banner p {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
  font-size: 1rem;           /* Texto maior que o normal */
  font-weight: 400;
  color: #444;                  /* Cinza escuro para leitura confortável */
  max-width: 700px;             /* Limita largura */
  margin: 0 auto;               /* Centraliza */
  line-height: 1.8;             /* Espaçamento entre linhas */
  background: rgba(255, 255, 255, 0.6); /* Fundo translúcido */
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.content {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.footer1{
  margin-top: 20px;
}

#myFooter {
  
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 20px;/* diminui de 20px para 10px */
  font-size: 12px; /* reduz a fonte */
  border-radius: 15px; /* borda menor */
}

.footer-copyright {
    
  margin: 0;
}

.rodape {
  font-family: 'Montserrat', sans-serif;
  
}


@media (max-width: 768px) {
  .text-1 {
    font-size: 2rem;
  }

  form {
    padding: 20px;
  }
}


.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  margin-top: 10px;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

.rounded-social-buttons .social-button.pinterest {
  background: #cb2027;
}

.rounded-social-buttons .social-button.pinterest:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.pinterest:hover, .rounded-social-buttons .social-button.pinterest:focus {
  color: #cb2027;
  background: #fefefe;
  border-color: #cb2027;
}

.rounded-social-buttons .social-button.google-plus {
  background: #dd4b39;
}

.rounded-social-buttons .social-button.google-plus:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.google-plus:hover, .rounded-social-buttons .social-button.google-plus:focus {
  color: #dd4b39;
  background: #fefefe;
  border-color: #dd4b39;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.tumblr {
  background: #32506d;
}

.rounded-social-buttons .social-button.tumblr:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.tumblr:hover, .rounded-social-buttons .social-button.tumblr:focus {
  color: #32506d;
  background: #fefefe;
  border-color: #32506d;
}



